.modal {
    background-color: var(--blueLight);
    z-index: 0;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__img--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.modal__txt--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__img--gradient {
    position: absolute;
    left: 0;
    top:0;
    z-index: -1;
    width: 100vw;
    mix-blend-mode: color-dodge;
}

.modal__img {
    max-width: 90%;
    box-sizing: border-box;
}

.modal__txt {
    text-align: center;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.modal__btn--wrapper {
    width: 80vw;
}

.modal__btn--txt {
    border-left: 1px solid var(--white);
}

.hero__btn--github {
    background-image: url(../images/icon--github.svg);
    border-right: 1px solid var(--white);
}

/* TABLET & UP */
@media only screen and (min-width: 768px) {

    .modal {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .modal__txt--wrapper {
        align-items: flex-start;
    }

    .modal__txt {
        padding: 0;
        width: 30vw;
        text-align: left;
        margin-bottom: 40px;
    }

    .modal__btn--wrapper {
        width: 60%;
    }

    .modal__btn--wrapper:hover {
        background-color: var(--teal);
    }

    .modal__img--gradient {
        width: 100vw;
        height: 80vh;
        transform: translate(-25%, -20%);
    }

    .hero__btn--github {
        background-image: url(../images/icon--github.svg);
        border-right: 0px solid var(--white);
        width: 5vw;
    }

    .modal__btn--txt {
        border-left: 0px solid var(--white);
    }

    .modal__img--wrapper {
        padding: 0;
        width: 25%;
        height: auto;
        position: relative;
    }

    .modal__img--shadow {
        width: 20vw;
        height: 18vw;
        position: absolute;
        z-index: -1;
        top: 30%;
        left: 0;
        outline: var(--white) 1px solid;
    }

}