:root {
    --blueDark: #1A1E33;
    --blueLight: #282C41;
    --teal: #00FEB3;
    --white: #FFFFFF;
}

::-moz-selection {
    background: var(--teal);
    color: var(--blueDark);
    opacity: 1;
}
  
::selection {
    background: var(--teal);
    color: var(--blueDark);
    opacity: 1;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

html {
    background-color: var(--blueDark);
    overflow-x: hidden;
}
