@font-face {
    font-family: "Career";
    src: url("../fonts/Career_Point.ttf") format("opentype");
  }

h1 {
    color: var(--teal);
    font-family: "Career", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 118px;
}

h2 {
    color: var(--white);
    font-family: DM Mono, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
}

h3 {
    color: var(--white);
    font-family: DM Mono, monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
}

h4 {
    color: var(--white);
    font-family: DM Mono, monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
}

h5 {
    color: var(--white);
    font-family: "Career", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}

p {
    font-family: DM Mono, monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: var(--white);
}

p a {
    color: var(--teal);
    text-decoration: underline;
    transition: 150ms ease-in-out;
}

p a:hover {
    text-decoration: none;
    color: #CCD5FD;
    transition: 150ms ease-in-out;
}

/* TABLET & UP */
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 6vw;
        line-height: 140%;
    }

    h2 {
        font-size: 1.1vw;
    }

    h3 {
        font-size: 1vw;
    }

    h4 {
        font-size: 0.8vw;
    }

    h5 {
        font-size: 40px;
    }

}